body {
  font-family: Helvetica, Arial, sans-serif;
  border-top: 9px solid #71accd;
  padding-top: 4px;
}

.header {
  background: url(http://pinocc.io/images/pinoccio-logo-mini.png) no-repeat top left;
  padding-left: 184px;
  margin-left: 24px;
  margin-top: 13px;
  padding-bottom: 26px;
}

ul#nav {
  font-size: 16px;
}

ul#nav li a.active {
  font-weight: bold;
  color:  #000;
}

ul#nav li a:hover {
  text-decoration: underline;
  color: #000;
}

ul#nav li a.active:hover {
  text-decoration: none;
}

div#landing {
  margin-top: 30px;
  margin-left: 24px;  
}

div#landing h2 {
  font-size: 30px;
  color: #000;
  font-weight: normal;
  margin-bottom: 20px;  
}

div#landing h3 {
  font-size: 24px;
  font-weight: normal;
}

div#landing h3 a {
  text-decoration: underline;
}

div#landing h3 a:hover {
  text-decoration: underline;
  color: #000;
}

div#landing p {
  font-size: 16px;
  margin-bottom: 30px;
  width: 600px;
}


.login-form-template{
  width:230px;
  background-color:#fff;
  border:1px solid #d4d4d4;
  border-radius:5px;
}


.login-form{
  padding:10px;
}

.login-form input{
  margin-bottom:5px;
  width:200px;
  border:1px solid #d4d4d4;
}

.login-form a{
  float:right;
  font-size:10px;
}


/* form helper stylz*/

.error-bar{
  background-color:#e74c3c;
  font-weight:900;
  color:#fff;
  padding:3px;
  margin-bottom:5px;
}

.loading{
  display:none;
}

.submitting .loading{
  display:inline-block;
}

.login-form input.error {
  border:1px solid #e74c3c;
}

